<!-- views/partials/footer.ejs -->
<style>
    .foot {
        background-color: rgb(26, 38, 43);
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
    }
</style>
<footer>
    <div class="foot">
        <!-- Footer -->
        <footer class="page-footer font-small special-color-dark pt-4">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
                <a href="http://localhost:3000/#"> www.hypertube.co.za</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </div>
</footer>